.Home-post-title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #444;
  line-height: 4rem;
  padding-top: 4rem;
}

.Home-Post {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.PostItem {
  display: flex;
  align-items: center;
  min-height: 10rem;
  background: #fff;
  padding: 0 2rem;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.05s;
  border: 2px solid #d0d0d0;
  text-decoration: none;
  color: #000;
}

.PostItem-all {
  border: 2px solid #ac9455;
  border-radius: 4rem;
  color: #ac9455;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto;
  text-decoration: none;
}

.PostItem-all:hover {
  background: #ac9455;
  color: #fff;
}

.PostItem:hover {
  background-color: #ac9455;
  border-color: #ac9455;
  color: #fff;
}

.PostItem--Date {
  flex: 0 0 12rem;
}

.PostItem--Content {
  flex: 1;
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: normal;
}

@media (max-width: 767px) {
  .Home-post-title {
    font-size: 2rem;
  }
  .PostItem--Content {
    font-size: 1rem;
  }
}
